SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=thz_user
DB_PASSWORD=thz_password
DB_NAME=thz_db

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_QUEUE=thz_tasks
RABBITMQ_RESULT_QUEUE=thz_results

WS_UPGRADE_BUFFER=1024
