RABBITMQ_URL=amqp://guest:guest@localhost:5672/
TASK_QUEUE=thz_tasks
RESULT_QUEUE=thz_results

ONNX_MODEL_PATH=./models/plsr_model.onnx

CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=rpc://
